    <!-- Main start -->
<main>
    <div class="headertext">
        <div class="container col-12 pt-4">
            <h1>About</h1>
            <span><a href="./index.html">Home</a></span>
            <span>></span>
            <a href="./cart.html">About</a>
        </div>
    </div>
    <section class="vision">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="our-img">
                        <img src="~/assets/image/about-img_1.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="our-vision">
                        <h2 style="color: #666;" class="heading-sub">What We Are Doing For Our Business</h2>
                        <h5 style="font-size: 2rem;" class="heading-title">
                            Medshop Create Unique High-quality Product From The Finest Development Since 2001.
                        </h5>


                    </div>
                    <div class="abouticon">
                        <div style="align-items: center;" class="left d-flex">
                            <img src="~/assets/image/icon_1.png" alt="">
                            <h6>
                                Professionals <br>
                                Doctors
                            </h6>
                        </div>
                        <div style="align-items: center;" class="right d-flex">
                            <img src="~/assets/image/icon_2.png" alt="">
                            <h6>
                                Professionals <br>
                                Doctors
                            </h6>
                        </div>
                    </div>
                    <div class="elementor-widget">
                        <p>Mestibulum libero nisl, porta vel, scelerisque eget, malesuada at neque. wivamus eget nibhm cursleo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum prieymis in faucibusestibuluro nisl, porta scelerisque eget, malesuada</p>
                    </div>
                    <div class="imagebutton">
                        <button class="learn-more">
                            <span class="circle" aria-hidden="true">
                                <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">Contact Now</span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="update">
        <div class="container">
            <div class="text">
                <span>How We Over Come</span>
                <h2>Medishop Company History</h2>
                <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centu ries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="pharmacy p-5 d-flexjustic">

                <div class="left  d-flex">
                    <div class="img-icon">
                        <img src="~/assets/image/icon_3.png" alt="">
                    </div>
                    <div class="">
                        <h3>Online pharmacy</h3>
                        <p>Suspendisse potenti. Vestibulum facilisis purus nec pulvinar aculi ligulam congue unea vitae euiod ligula urna in dolor pretium.</p>
                    </div>
                </div>
                <div class="left  d-flex">
                    <div class="img-icon">
                        <img src="~/assets/image/icon_4.png" alt="">
                    </div>
                    <div class="">
                        <h3>Online pharmacy</h3>
                        <p>Suspendisse potenti. Vestibulum facilisis purus nec pulvinar aculi ligulam congue unea vitae euiod ligula urna in dolor pretium.</p>
                    </div>
                </div>
            </div>
    </section>
</main>
<!-- Main end -->