@model List<Discount>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

@foreach (Medicine medicine in ViewBag.Medicines)
{
    if (medicine.DiscountId==2)
    {
        count++;
    }
}
<div class="main-panel">
    <div class="table-responsive pt-3">
        <table class="table table-bordered" style="text-align: center">
            <thead class="table table-info" style="text-align: center">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Percentage
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Settings
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Discount discount in Model.Take(1))
                {
                    <tr class="table-warning">
                        <td>
                            @discount.Title
                        </td>
                        <td>
                            @discount.Percentage.ToString("f0") %
                        </td>
                        <td>
                            @count
                        </td>
                        <td class="d-flex align-items-center" style="height:160px; justify-content: center; gap: 5px">
                            <div>
                                <a asp-area="Medimalladmin" asp-controller="Discount" asp-action="edit" asp-route-id="@discount.Id"
                               class="btn btn-success"><i class="mdi mdi-border-color"></i></a>
                            </div>
                            <div>
                                <a asp-area="Medimalladmin" asp-controller="Discount" asp-action="GetMedicine" asp-route-id="@discount.Id"
                               class="btn btn-warning"><i class="fa-solid fa-box-open"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>