
@{
    Layout = null;
}

<body  style="background-repeat:no-repeat;
background-position:center;
background-image:url(https://cdn.dribbble.com/users/1169343/screenshots/7044451/media/b7096f057e58b0334ef61b3695dc3032.png?compress=1&resize=1000x750&vertical=top)">

 </body>